    # Node.js dependencies
    /node_modules
    /server/node_modules

    # React dependencies
    /client/node_modules
    /client/build

    # Environment variables
    .env
    /server/.env
    /client/.env



