# Node.js dependencies
/server/node_modules
/client/node_modules

# React dependencies
/client/build

/node_modules
# Environment variables
.env

# Logs & Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db


